snippet tpl "template" iA
// Copyright 2024 Andrew

int main() {
	$0
}
endsnippet

snippet copyright_msg "Put copyright message" -b
// Copyright 2024 Andrew
endsnippet

snippet main "" b
int main() {
	$0
}
endsnippet
