snippet mi "Math inline" w
\$$1\$`!p
if t[2] and t[2][0] not in [',', '.', '?', '-', ' ']:
	snip.rv = ' '
else:
	snip.rv = ''
`$2
endsnippet

snippet mb "Math block" w
\[
${1:${VISUAL}}
\]
endsnippet
