snippet code "" b 
\`\`\`$1
$0
\`\`\`
endsnippet

snippet python "python code block" b
\`\`\`python
$0
\`\`\`
endsnippet

snippet cpp "c++ code block" b
\`\`\`cpp
$0
\`\`\`
endsnippet

snippet bash "bash code block" b
\`\`\`bash
$0
\`\`\`
endsnippet
